.box{
  border-radius: 2px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.list img{
  width: 100%;
  height: 120px;
  background-size: cover;
  border-radius: 4px;
}

.list-item{
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.list-item:hover{
  background-color: #f0f0f0;
}

.list-item h2{
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

.list-item p{
  margin-top: 5px;
  font-size: 16px;
  color: #444;
}

.new-button{
  font-size: 16px;
  margin-top: 50px;
  background-color: #f05a5b;
  color: #fff;
  border-radius: 2px;
  border: 0;
  font-weight: bold;
  width: 100%;
  height: 42px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.new-button:hover{
  background-color: #f05a5ab4;
}

.notification{
  line-height: 20px;
  margin-bottom: 10px;
}

.notification p{
  font-size: 16px;
}

.accept, .decline{
  cursor: pointer;
  text-align: start;
  font-size: 16px;
  font-weight: bold;
  height: 42px;
  width: 100px;
  border: 0;
  background: #fff;
}

.accept{
  color: green;
}

.decline{
  color: #f05a5b;
}